#DATA FILE - TOO BIG
ATRIBUTOS_POR_NCM_2025_09_30.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# ChromaDB
ncm_atributos_rag/
chroma.sqlite3

# Environment
.env

# OS
.DS_Store
Thumbs.db
